<div class="jumbotron text-center">
	<h1>Flight Search Engine</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<ul class="nav nav-tabs">
				<li [class.active]="activeTab == 1" (click)="changeTab(1)">
					<a data-toggle="tab">One Way</a>
				</li>
				<li [class.active]="activeTab == 2" (click)="changeTab(2)">
					<a data-toggle="tab">Return</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="oneWay" class="tab-pane fade" [ngClass]="{'in active': activeTab == 1}">
					<form #oneWay="ngForm" name="onewayForm" >
						<div class="form-group">
							<label for="origin" class="control-label"> Origin City </label>
							<input type="text" name="origin" class="form-control" #origin="ngModel" [(ngModel)]="oneWayParam.origin" placeholder="Enter Origin City" required>
						 <span class="text-danger" *ngIf="origin.touched && origin.errors?.required">Please Enter Origin City</span>
						</div>
						<div class="form-group">
								<label for="destination" class="control-label"> Destination City </label>
							<input type="text" name="destination" class="form-control" #destination="ngModel" [(ngModel)]="oneWayParam.destination" placeholder="Enter Destination City" required>
							<span class="text-danger" *ngIf="destination.touched && destination.errors?.required">Please Enter Destination City</span>
						</div>
						<div class="form-group">
								<label for="departure" class="control-label"> Departure Date </label>
							<input type="date" name="departure" class="form-control" #departure="ngModel" [(ngModel)]="oneWayParam.departure" placeholder="Departure Date" required >
							<span class="text-danger" *ngIf="departure.touched && departure.errors?.required">Please Enter Departure Date</span>
						</div>
						<div class="form-group">
								<label for="passengers" class="control-label"> No. of Passengers </label>
							<select class="form-control" name="passengers" id="passengers" [(ngModel)]="oneWayParam.passengers" placeholder="passengers"
							 required>
								<option value="0" disabled>Select Passengers</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select>
						</div>
						<div>
								<label for="slider" > Refine Flight Search</label>
							<div>
									
								<span class="pull-left">0</span>
								<span class="pull-right">10000</span>
							</div>
							<div class="clearfix"></div>
							<input name="range" type="range" min="0" max="10000" [(ngModel)]="oneWayParam.range">
							<span>Range: {{oneWayParam.range}}</span>
						</div>
						
						<button type="button" class="btn btn-primary" (click)="search(oneWay, 'oneway')">Search</button>
					</form>
				</div>
				<div id="return" class="tab-pane fade" [ngClass]="{'in active': activeTab == 2}">
					<form #return="ngForm" name="returnForm">
						<div class="form-group">
								<label for="returnorigin" class="control-label"> Origin City </label>
							<input type="text" name="returnorigin" class="form-control" #returnorigin="ngModel" [(ngModel)]="returnParam.returnorigin" placeholder="Enter Origin City" required>
							<span class="text-danger" *ngIf="returnorigin.touched && returnorigin.errors?.required">Please Enter Origin City</span>
						</div>
						<div class="form-group">
								<label for="returndestination" class="control-label"> Destination City </label>
							<input type="text" name="returndestination" class="form-control" #returndestination="ngModel" [(ngModel)]="returnParam.returndestination" placeholder="Enter Destination City" required>
							<span class="text-danger" *ngIf="returndestination.touched && returndestination.errors?.required">Please Enter Destination City</span>
						</div>
						<div class="form-group">
								<label for="returndeparture" class="control-label"> Departure Date </label>
							<input type="date" name="returndeparture" class="form-control" #returndeparture="ngModel" [(ngModel)]="returnParam.returndeparture" placeholder="Departure Date" required>
							<span class="text-danger" *ngIf="returndeparture.touched && returndeparture.errors?.required">Please Enter Departure Date</span>
						</div>
						<div class="form-group">
								<label for="returnarrival" class="control-label"> Arrival Date </label>
							<input type="date" name="returnarrival" class="form-control" #returnarrival="ngModel" [(ngModel)]="returnParam.returnarrival" placeholder="Return Date" required>
							<span class="text-danger" *ngIf="returnarrival.touched && returnarrival.errors?.required">Please Enter Return Date</span>
						</div>
						<div class="form-group">
								<label for="passengers" class="control-label"> No. of passengers </label>
							<select class="form-control" name="passengers" id="passengers" [(ngModel)]="returnParam.passengers" placeholder="passengers" required>
								<option value="0" disabled>Select Passengers</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select>
						</div>
						<div>
							<div>
								<span class="pull-left">0</span>
								<span class="pull-right">10000</span>
							</div>
							<div class="clearfix"></div>
							<input name="range" type="range" min="0" max="10000" [(ngModel)]="returnParam.range" >
							<div>Range: {{returnParam.range}}</div>
						</div>
						<button type="button" class="btn btn-primary" (click)="search(return, 'return')">Search</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-8 details" *ngIf="isSearched">
			<div class="title row">
				<div class="col-sm-8">
					<span>{{searchedParams.origin + ' > ' + searchedParams.destination}}</span>
					<span *ngIf="activeTab == 2">{{' > ' + searchedParams.origin}}</span>
				</div>
				<div class="col-sm-4">
					<div>Depart: {{searchedParams.departure | date: 'dd MMM, yyyy'}}</div>
					<div *ngIf="activeTab == 2">Return: {{searchedParams.return | date: 'dd MMM, yyyy'}}</div>
				</div>
			</div>
			<ul class="list-group" *ngIf="searchResults">
				<li class="list-group-item row" *ngFor="let flight of searchResults.flights; let i = index">
					<div class="col-sm-8">
						<h1>Rs. {{activeTab == 1 ? (flight.cost * searchedParams.passengers) : (flight.cost * searchedParams.passengers * 2) }}
						</h1>
						<div class="row">
							<div class="col-sm-6">
								<h4 [innerHtml]="flight.oneWay.code"></h4>
								<div>
									<b>Depart:</b>
									<span [innerHtml]="flight.oneWay.depart"></span>
								</div>
								<div>
									<b>Arrive:</b>
									<span [innerHtml]="flight.oneWay.arrive"></span>
								</div>
							</div>
							<div class="col-sm-6" [hidden]="activeTab == 1">
								<h4 [innerHtml]="flight.oneWay.code"></h4>
								<div>
									<b>Depart:</b>
									<span [innerHtml]="flight.return.depart"></span>
								</div>
								<div>
									<b>Arrive:</b>
									<span [innerHtml]="flight.return.arrive"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 text-center ticket">
						<img src="assets/images/ticket.png" alt="">
						<div>
							<button class="btn btn-info">Book Ticket</button>
						</div>
					</div>
				</li>
			</ul>
			<div class="text-center" [hidden]="searchResults">No Results Found</div>
		</div>
	</div>
</div>